/* 
body {
  background-color: #d2f5e3;
  text-align: center;
}

h1 {
  font-size: 4em;
  color: #00587a;
  text-shadow: -5px 10px 8px #0f3057;
}

fieldset {
  padding: 1em;
  margin: 2em;
}

legend {
  font-size: 2em;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


input {
  margin: .3em;
}
textarea {
  min-width: 100%;
  min-height: 8em;
}

.workStat,
.pronouns,
.rec {
  text-align: left;
}
.payRange {
  text-align: center;
} */
